<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Comida da Boa</title>
    <link rel="stylesheet" href="/simple.min.css">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  </head>

  <body>
    <header>
      <nav>
        <h1>👨‍🍳 Comida da Boa</h1>
      </nav>
    </header>

    {% block content %} {% endblock %}

    <footer>
      <p>Feito com ❤️ e 🥲 por <a href="https://ludeed.com/">Luís Silva</a><br>
      <a href="https://github.com/ludeed/comidadaboa">Contribui com mais receitas</a></p>
    </footer>
  </body>

</html>


