{% extends "base.html" %}

{% block content %}

<div class="notice">
  {{ section.content | safe }}
</div>


<div class="search-container">
  <input id="search" type="search" placeholder="🔎 Procura receitas">
  <input disabled type="button" value="ou">
  <a class="button" href="{{ get_url(path="receitas") }}"> 🫣 Ver todas as receitas</a>
  <div class="search-results">
    <div class="search-results__items"></div>
  </div>
</div>

<p>
{% set tags = get_taxonomy(kind="tags") %}
{% for tag in tags.items %}
<a href="{{ tag.permalink }}">{{ tag.name }}</a> ({{ tag.pages | length }}) | 
{% endfor %}
</p>

<script type="text/javascript" src="{{ get_url(path="elasticlunr.min.js") }}"></script>
<script type="text/javascript" src="{{ get_url(path="lunr.stemmer.support.js") }}"></script>
<script type="text/javascript" src="{{ get_url(path="lunr.pt.js") }}"></script>
<script type="text/javascript" src="{{ get_url(path="search.js") }}"></script>
{% endblock content %}
