{% extends 'base.html' %}

{% block content %}

<script>
window.onload = () => {
    let ls = document.querySelectorAll('li');
    ls.forEach((ele) => {
       ele.onclick = (e) => {
          let targetElement = e.target;

          // Check if the current styles are applied
          if (targetElement.style.textDecoration === 'line-through') {
             targetElement.style.textDecoration = 'none';
          } else {
             targetElement.style.textDecoration = 'line-through';
          }
       };
    });
}
</script>


<h1>{{ page.title }}</h1>

{{ page.content | safe }}

{% endblock content %}


